//základní nastavení pro prvky, zvláště pro ty, co se budou opakovat

//hlavní font
$font-main: 'Roboto', sans-serif;

//color - buttony 
$color-button: #A64253;

//color - buttony hover
$color-button-hover: #125E8A;

//color - a + nadpisy
$color-h: rgb(24, 153, 153);


